.animate__animated {
  animation-duration: 750ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.animate__fadeInDown {
  animation-name: animate__fadeInDown;
}

.animate__fadeInUp {
  animation-name: animate__fadeInUp;
}

@keyframes animate__fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -18px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animate__fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 18px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
